# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
*.sublime-project
*.sublime-workspace
*[[DEV]].*
.scannerwork
coding in progress
Copie code avant 1) OPTIMISATION du code 2) TRAD° de commentaires
conception projet
fiddler-npmscript.ps1
src - Copie
src - Copy
src/assets/DEV
src/assets/local-storage # chemin absolu
src/assets/swmg-meh-firebase-adminsdk-a5wnc-a5788834ef.json

# Spécifique aux sessions d'utilisateurs
src/assets/fichiers_generes/*
src/assets/local-storage/*

# Docker
Dockerfile
docker-compose.yml

#Others
.hg
.hgignore