# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
*.sublime-project
*.sublime-workspace
*[[DEV]].*
coding in progress
src/assets/DEV
src/assets/local-storage # chemin absolu
src/assets/swmg-meh-firebase-adminsdk-a5wnc-a5788834ef.json
fiddler-npmscript.ps1

# Spécifique aux sessions d'utilisateurs
src/assets/fichiers_generes/*
src/assets/local-storage/*

# Docker
Dockerfile
docker-compose.yml

#Others
.hg
.hgignore