<!-- views/partiels/header.ejs -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
          <!-- TODO : inclure la var navPageNom dans le controller affichable par header.js ? Ou en javascript modifier le menu dynamiquement selon la variable -->
            <ul class="list-group list-group-horizontal">
              <% if(navPageNom!="importer") {%>
              <li class="list-group-item"><button type="button" class="btn btn-light  btn-sm" onclick="navGoTo('/importer')">Importer <span class="badge badge-pill badge-success">&nbsp;</span></button></li>
              <% } %>
              <% if(navPageNom=="importer") {%>
              <li class="list-group-item"><button type="button" class="btn btn-light btn-sm" style="font-weight:bold" onclick="navGoTo('/importer')" disabled>Importer <span class="badge badge-pill badge-success">&nbsp;</span></button></li>
              <% } %>

              <% if(navPageNom!="generer") {%>
              <li class="list-group-item"><button type="button" class="btn btn-light  btn-sm" onclick="navGoTo('/generer')">Générer <span class="badge badge-pill badge-warning">&nbsp;</span></button></li>
              <% } %>
              <% if(navPageNom=="generer") {%>
              <li class="list-group-item"><button type="button" class="btn btn-light  btn-sm" style="font-weight:bold"  onclick="navGoTo('/generer')" disabled>Générer <span class="badge badge-pill badge-warning">&nbsp;</span></button></li>
              <% } %>

              <% if(navPageNom!="telecharger") {%>
              <li class="list-group-item"><button type="button" class="btn btn-light  btn-sm " disabled onclick="navGoTo('/telecharger')">Télécharger <span class="badge badge-pill badge-warning">&nbsp;</span></button></li>
              <% } %>
              <% if(navPageNom=="telecharger") {%>
              <li class="list-group-item"><button type="button" class="btn btn-light  btn-sm" style="font-weight:bold"  onclick="navGoTo('/telecharger')" disabled>Télécharger <span class="badge badge-pill badge-warning">&nbsp;</span></button></li>
              <% } %>
            </ul>
        </div>

    </div>
</nav>
