<!--MIT License

Copyright (c) 2020 FRANÇOIS GARDIEN

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.-->

<!-- views/partiels/header.ejs -->

<link rel="stylesheet" href="header.css" type="text/css">
<%- include("../pages/commun.js") %>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">
            <button type="button" class="btn btn-light btn-sm btn-topMenu" id="menuBtn1" onclick="navGoTo('/configurer')"><i class="fas fa-sliders-h fa-1x"></i><BR>Settings</button>
          </li>
          <li class="list-group-item">
            <!--waiting for connecting to Firebase DB-->
            <button type="button" class="btn btn-light btn-sm btn-topMenu estMontre" id="btn-genererCSV-attente">Import &<BR>generate CSV file <span class="spinner-border spinner-border-sm header-spinner" role="status" aria-hidden="true"></span></button>
            <!--danger--><button type="button" class="btn btn-light btn-sm btn-topMenu estCache" id="btn-genererCSV-danger" 
            data-toggle="tooltip" data-placement="bottom" data-html="true" title="Unable to connect the Firebase Database !<br><em>Check your parameters on the Settings page.</em>" onclick="navGoTo('/importer')">Import &<BR>generate CSV file <span class="badge badge-pill badge-danger">&nbsp;</span></button>
            <!--success--><button type="button" class="btn btn-light btn-sm btn-topMenu estCache" id="btn-genererCSV-success" onclick="navGoTo('/importer')">Import &<BR>generate CSV file <span class="badge badge-pill badge-success">&nbsp;</span></button>
          </li>
          <li class="list-group-item">
            <!--warning--><button type="button" class="btn btn-light btn-sm btn-topMenu estCache" id="btn-telechargerHistorique-warning" data-toggle="tooltip" data-placement="bottom" data-html="true" title="To download a CSV file, firstly <em>import a dataset</em>, and then <em>generate the file</em>" onclick="navGoTo('/telecharger')">Download the generated CSV file &<BR>get history of files <span class="badge badge-pill badge-warning">&nbsp;</span></button>
            <!--success--><button type="button" class="btn btn-light btn-sm btn-topMenu estCache" id="btn-telechargerHistorique-success" onclick="navGoTo('/telecharger')">Download the generated CSV &<BR>get history of files <span class="badge badge-pill badge-success">&nbsp;</span></button>
          </li>
        </ul>
      </div>

    </div>
  </nav>