<!--MIT License

Copyright (c) 2020 FRANÇOIS GARDIEN

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.-->

<!-- views/partiels/peupler-modales.ejs

  dependancies :
  views/partiels/bo/peupler-modale.js 

  Description: Modals features to display messages about server's working
-->

<div class="modal fade" id="modalEtatsTrts" tabindex="-1" role="dialog" aria-labelledby="modalEtatsTrts-titre" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i id="modalEtatsTrts-iconeTitre" class="fas estCache"></i>&nbsp<span id="modalEtatsTrts-titre">;Title</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="modalEtatsTrts-contenu" class="modal-body">

      </div>
      <div class="modal-footer">
        <button id="modalEtatsTrts-btnValider" type="button" class="btn btn-primary estCache" onclick="ctaValiderModalEtatsTrt()">Accept</button>
        <button id="modalEtatsTrts-btnAnnuler" type="button" class="btn btn-secondary estCache" data-dismiss="modal" onclick="ctaAnnulerModalEtatsTrt()">Cancel</button>
      </div>
    </div>
  </div>
</div>